/*----------------------------------------------*\
    STYLES
	======
\*----------------------------------------------*/
html {
     box-sizing: border-box;
     margin: 4em;
 }
 
 nav {
      position:fixed;
      margin-left:10rem;
 }

 main {
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;
      gap: 10rem;
 }
 
 .empty {
 align-self: flex-start;
 opacity:0;
 }
 .info {
      order: 2;
      flex-shrink: 1;
      width: 800px;
 }
 
 /*----------------------------------------------*\
 font setting 
 \*----------------------------------------------*/
 
 h2 {
      font-family: Clash Display Variable;
      font-style: normal;
      font-weight: 600;
      font-size: 4em;
      line-height: 90px;
      /* or 112% */
      
      letter-spacing: 0.05em;
      color: #000000;
 }
 
 a.navigation {
      font-family: Clash Display Variable;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.75em;
      text-decoration: none;
      color: #000000;
      }
 
 h3 {
      font-family: Clash Display Variable;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: auto;
      
      color: #000000;
 }
 p {
      font-family: Clash Display Variable;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      /* or 133% */
      
      letter-spacing: 0.05em;
      
      color: #000000; 
 }
 
 .link {
      color: #000000;
 }
 
 li.help {
      font-family: Clash Display Variable;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 32px;
 /* or 133% */
 
 letter-spacing: 0.05em;
 
 color: #000000;
 list-style-type: circle;
 padding: .5em;
   margin-left: 1.5em;
 }

 li.header {
      opacity:0;
 }
 /*----------------------------------------------*\
 div paddings setting 
 \*----------------------------------------------*/
 
 .hey, .what, .not, .impact, .schools, .where {
      margin-bottom: 2.5em;
 }
